.App {
  text-align: center;
}

.App nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: lightblue;
}

.App nav a {
  max-width: 200px;
  min-width: 100px;
  margin: 5px 5px;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
